<link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
<script type="text/javascript" src="assets/login.js"></script>
<body background="assets/fon.png " >
	<div id='lo'>
<h1 id='lo'>Login</h1></div>
<div id='user'>
<img id='user' src="assets/user.png"></div>
<form action="horarios.html" onsubmit="return Entrada()" >
  <div id="for" class="well">
  	<div id="fore" >
    <p id="us">Ingrese Nombre de Usuario: <br><br><input type="text" id="usuario"  placeholder="Usuario"><br><br><br></p>
    <p id="co">Ingrese Contraseña: <br><br><input type="password" id="clave"  placeholder="Contraseña"><br><br></p>
    <input id="ing" type="submit" value="Ingresar"  class="btn btn-primary">
    <img id="img" src="assets/candado.png">
    </div>
    </div>
    </form>
  <img id="bar" src="assets/barra.png">
</body>